@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}

body,h1,h2 {
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
 }
 h2 {
     font-size: 20px;
     font-weight: lighter;
     color: grey;
     border-bottom: 1px solid #ebebeb;
     padding-bottom: 5px;
     margin-bottom: 16px;
 }
.name-text {
    font-size: 17px;
    color: gray;
    font-weight: bold;
}
.mainbox {
    border: 1px solid #ebebeb;    
    width: 610px; 
    margin: 0 auto;
    padding: 30px;
    margin: 30px auto;
    box-shadow: 0 1px 20px 0 gray;

}

footer {
    text-align: center;
    background-color: #201e1e;
    color: #919191;
    font-size: 12px;
    padding: 20px;
}

section {
    margin-bottom: 50px;
}

.name-text {
    font-size: 16px;
    color: #7c7c7c;
    font-weight: bold;
}
.about-me-text{
    font-size: 10px;
    line-height: 16px;
}
.title-text{
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: left;
}
.year-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.float-wrap{
  overflow: hidden; 
} 

.desc-text{
  font-size: 9px;
}
.desc-subtext{
  font-size: 9px;
  color: gray;
  padding-left: 16px;
 }

 .title-box {
   text-align: right;
 }

.sns-img{
    width: 12px;
    height: 12px;
}
.sns-wrap{
    text-align: right;
}
